<!-- IF .oc_wallet -->
<div class="panel bg1">
    <div class="inner">

    <h3>{L_OC_TITLE}</h3>

    <table class="table1">
    <thead>
    <tr>
        <th>{L_OC_WALLET_CURRENCY}</th>
        <th>{L_OC_WALLET_BALANCE}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN oc_wallet -->
    <tr class="<!-- IF oc_wallet.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
        <td>{oc_wallet.TITLE}</td>
        <td>{oc_wallet.BALANCE}</td>
        <td><!-- IF oc_wallet.U_DONATE --><a href="{oc_wallet.U_DONATE}">{L_OC_DONATE}</a><!-- ENDIF --></td>
    </tr>
    <!-- END oc_wallet -->
    </tbody>
    </table>

    </div>
</div>
<!-- ENDIF -->
